
.movingDiv{
border: solid 1px black;
position:relative;
margin:30px 5px;
padding:20px 5px;
width:30%;
display:inline;
line-height:60px;
}

fieldset{
border: solid 1px #777777;
}

.required{
background-color:#EEEE55;
}

th {
    width: 6em;
    height: 3em;
    text-align: center;
}

td {
    width: 6em;
    height: 2em;
    text-align: center;
}

em { color: red; font-style: italic; }

tr.normal {
    
    background-color: #E4F8D3;    
}
tr.normal td, tr.normal th, tr.total th, tr.total td {
    text-align: right;    
    width: 5em;
    height: 0.75em;
    padding: 0.5em;
    color: #5A574E;
}

tr.total {     
    background-color: #96DD4F;
}

tr.total th, tr.total td {
        font-weight: bold;
    color: #000000;
}

.box {
    width:20em;
    margin:  20px auto;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    background-color:#fff ; 
    text-align: left;
}

.boxImg { 
    float: left; 
    padding: 5px;    
}
