
h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

[title^="Calgary"]  {
   cursor: help;
   text-decoration: none;
   padding-bottom: 3px;
   border-bottom: 2px dotted blue;
}



