#preview {
    position: absolute;
    padding: 15px 15px 0 15px;
    display: none;
    background-color: #424242;
}
#preview p {
    color: white; 
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.5em;
    text-align: center;
}

.gray {
     filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}