/* styles for DOM examples */

.center-icons
{
     text-align:center;
}

#features {
    background-color: #fcf8e3;   
    padding: 3em 0 2em 0;
    margin-top: 2em;
}

.count-number {
    font-size: 24px;
    line-height: 1.3;
    padding-top: 5px;
}
.count-title {
    font-size: 16px;
}

/* styles for event handling example */

#main {
    width: 400px;
    margin: 1em auto;
}

#testButton {
    border-color: #e84c3d;
    background-color: #e84c3d;
    box-shadow: 2px 4px 0 0 #941f12;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 3px;
    width: 10em;
    height: 2em;
        
}

.makeItGray {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%)
  -webkit-transition: -webkit-filter 1.5s;
}

.makeItNormal {
  -webkit-filter: none;
    filter: none;
  -webkit-transition: -webkit-filter 1.5s;
}

.makeItDisappear {
  -webkit-filter: opacity(0);    
  -webkit-transition: -webkit-filter 1.5s; 
}

/* styles for debugging example */

.box {
    width:20em;
    margin:  20px auto;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    background-color:#fff ; 
    text-align: left;
}

.movingDiv{
    border: solid 1px black;
    position:relative;
    margin:30px 5px;
    padding:20px 5px;
    width:30%;
    display:inline;
    line-height:60px;
}

/* styles for form example */

.form-body {
    margin: 0;
    padding: 0;
    background-color: #333;
    
  font-family: 'Arial Narrow', Candara, sans-serif;
  font-size: 16px;
  color: #4c4c4c;

}

.form-box {
  margin: 20px auto;
  width: 350px; 
  height: 400px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}


.form-box form {
  margin: 0 30px;
}

.form-box h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}


.form-box hr {
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password] {
  width: 200px; 
  height: 39px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #FF6C3A;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}


.form-box button {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 8px 25px 0px 15px;
  margin: 10px 8px 20px 66px;
  height: 35px;  
  width: 160px; 
  border-radius: 5px; 
  background-color: #3b9ad8;  
  box-shadow: 3px 3px rgba(58,87,175,.75);
}



.form-box button:hover {
  top: 3px;
  background-color:#135D8C;
  box-shadow: none;
  
}

.hidden { 
    display: none;
}
.visible { 
    display: block;
}

#errors {
  margin: 20px auto;
  width: 350px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;    
}
#errors p { padding: 10px; }


