body {
   font-size: 1.1em;
}

h1 { font-size: 1.5 em; }

article {
   background-color: #898989;
   margin: 5px 50px;
   padding: 5px 20px;
}

figure {    
   border: 1pt solid #262626; 
   background-color: #c1c1c1;
   padding: 5px;
   width: 150px;
   margin: 10px;
   float: left;
}







