p, h1, h2, h3, ul, li, body {
    padding: 0;
    margin: 0;   
    font-family: "Open Sans", "Arial", sans-serif;
}
header {
    padding: 10px;
    width: auto; 
    margin: 0 0;
    background-color: #1A237E;   
    color: #FAFAFA;
    height: 30px;
}
header h2 {    
    float: left;
    font-size: 18pt;  
    margin-left:10px;
    font-family: Lobster, "Times New Roman", serif
}
header nav {
    float: right;  
    margin: 10px 15px 10px 10px;
    top: 5px;
}

body {
   background-color: #D7CCC8;
}
section {
   margin-top: 3em;
   display: flex;
}
figure img {
   max-width: 100%;
}
figure {
   margin: 1em;
   padding: 1em;
   background-color: white;
   width: 200px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;   
   transition: all 0.6s ease-out 0.25s;

}

figcaption {
   margin-top: 0.75em;
   font-weight: bold;
   font-size: 1em;
}

figure:hover {
   background-color: #263238;
   color: white;
   box-shadow: 10px 10px 32px -4px rgba(0,0,0,0.75);
   transform: scale(1.75);
   transition: all 1s ease-in 0.25s;
}
