body
{
   font-family: "Open Sans", "Arial", sns-serif;
   margin: 0;
   padding: 0;
   background-color: white; 
   min-width: 800px;
   min-height: 400px
}
article {
   margin: 1em;
}
article h2 {
   width: 100%;
   text-align:center;
}
figure
{
   float: left; 
   margin: 0 8em 0 0;
   padding: 0;
   transition: all 1s
}
figcaption {
   text-align: center;
   font-size: .9em;
   font-weight: bold;
   margin-bottom: 2em;
}
img
{
   transition: all 1s;
}

/* Filter styles */

.saturate {
	filter: saturate(3);
	-webkit-filter: saturate(3);
}
.grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.contrast {
	filter: contrast(160%);
	-webkit-filter: contrast(160%);
}
.brightness {
	filter: brightness(30%);
	-webkit-filter: brightness(30%);
}
.blur {
	filter: blur(3px);
	-webkit-filter: blur(3px);
}
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.sepia {
	filter: sepia(100%);
	-webkit-filter: sepia(100%);
}
.heurostate {
	filter: hue-rotate(90deg);
	-webkit-filter: hue-rotate(90deg);
}
.filter-opacity {
	filter: opacity(50%);
	-webkit-filter: opacity(50%);
}
.combo-1 {
	filter: brightness(1.5) contrast(3) grayscale(0.6) invert(0.23) sepia(0.23);
	-webkit: brightness(1.5) contrast(3) grayscale(0.6) invert(0.23) sepia(0.23);
}
.combo-2 {
	filter: brightness(1.3) contrast(1.1) hue-rotate(180deg) saturate(2);
	-webkit-filter: brightness(1.3) contrast(1.1) hue-rotate(180deg) saturate(2);
}
img:hover {
	filter: none;
	-webkit-filter: none;
}
