div.entry {
 background-color: #FFF8DC;
}

div.entryContent {
 background-color: #F0F8FF;
}

h1 span {
  color: #8B0000;
  font-size: 1.5em;
  display: block;
}

li {
	display: inline;
}

div img {
	display: block;
}




